<template>
  <div>
    <HeaderLms />
    <section class="mt-20">
      <div class="justify-center">
        <div class="text-6xl text-black font-bold">
          The mission behind <br />
          Maggana.
        </div>
        <p class="mt-5 text-xl">People. Potential. Partnerships</p>
        <router-link to="">
          <button
            class="uppercase border-2 mt-10 border-black rounded-sm hover:bg-[#001c54] hover:text-white p-2"
          >
            our story
          </button>
        </router-link>
      </div>
      <div class="mt-20">
        <div class="flex justify-items-center space-x-5">
          <img
            src="@/assets/about/a1.jpg"
            class="w-[369px] h-[301px] rounded-xl overflow-hidden"
            alt=""
          />
          <img
            src="@/assets/about/a2.jpg"
            class="w-[424px] h-[231px] my-[72px] rounded-xl overflow-hidden"
            alt=""
          />
          <img
            src="@/assets/about/a3.jpg"
            class="w-[246px] h-[301px] rounded-xl overflow-hidden"
            alt=""
          />
          <img
            src="@/assets/about/a4.jpg"
            class="w-[369px] h-[234px] my-[72px] rounded-xl overflow-hidden"
            alt=""
          />
        </div>
      </div>
      <div class="flex mt-20 justify-around">
        <div>
          <h1 class="text-4xl font-bold text-black">7,000+</h1>
          <h3 class="font-bold uppercase text-black">students</h3>
        </div>
        <div>
          <h1 class="text-4xl font-bold text-black">100+</h1>
          <h3 class="font-bold uppercase text-black">courses</h3>
        </div>
        <div>
          <h1 class="text-4xl font-bold text-black">800+</h1>
          <h3 class="font-bold uppercase text-black">5-star reviews</h3>
        </div>
        <div>
          <h1 class="text-4xl font-bold text-black">35+</h1>
          <h3 class="font-bold uppercase text-black">teachers</h3>
        </div>
      </div>
      <div class="flex mt-40 justify-around">
        <div class="text-justify">
          <div class="text-5xl font-bold text-black">Our Story</div>
          <h3 class="font-bold mt-10 text-2xl text-black">
            Maggana is an integrated solution of <br />
            technology education, placement, consulting <br />
            and outsourced IT services.
          </h3>
          <p class="mt-5">
            Maggana strives to provide the best quality education in <br />
            the field of IT. We provide cost-effective and relevant education in
            <br />
            specialized fields like System Programming, Cloud <br />
            Computing, Big Data and Analytics, Software Engineering, <br />
            Artificial Intelligence and Data Science. We mentors students <br />
            through their journey of learning, providing the most current <br />
            and relevant technology training that is aligned with industry
            <br />
            practices so that their students can be successful on day one <br />
            of starting work. We have delivered projects and deployed <br />
            top class engineers in global tech companies and startups <br />
            across the world.
          </p>
        </div>
        <div>
          <img
            src="@/assets/about/a5.jpg"
            class="rounded-2xl w-[575px] h-[430px] overflow-hidden"
            alt=""
          />
        </div>
      </div>
      <div class="border-b-2 mx-10 mt-28"></div>
    </section>
    <section class="mt-20">
      <div class="text-4xl font-bold text-black">
        The Mission <br />
        Behind Academy
      </div>
      <div class="mt-10 relative">
        <div class="flex items-center justify-center">
          <div class="absolute left-[160px]">
            <div>
              <span
                class="material-icons p-3 rounded-full bg-white border-2 hover:bg-[#001c54] hover:text-white"
              >
                arrow_back_ios
              </span>
            </div>
          </div>
          <div class="bg-[#f5f7ff] w-[987px] h-[383px]">
            <div class="items-center">
              <img src="@/assets/about/a11.svg" class="mx-auto" alt="" />
            </div>
            <div class="font-bold text-2xl space-y-5 text-black">
              1. Make Education Accessible
            </div>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis
              cursus turpis in <br />
              habitant sagittis amet dolor malesuada ut. Volutpat nunc id
              blandit vitae ut volutpat <br />
              nunc nascetur varius. Sit felis sed sem duis.
            </p>
          </div>
          <div class="absolute right-[160px]">
            <div>
              <span
                class="material-icons p-3 rounded-full bg-white border-2 hover:bg-[#001c54] hover:text-white"
              >
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-28 border-b-2 mx-20"></div>
    </section>
    <section class="mt-20">
      <div>
        <div class="justify-center items-center">
          <div class="text-4xl font-bold text-black">Come and Visit Us</div>
          <p class="space-y-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat
            <br />
            feugiat congue viverra facilisis.
          </p>
        </div>
        <div class="flex justify-evenly">
          <div class="shadow-lg bg-transparent w-[550px] h-[560px]">
            <div>
              <img src="@/assets/about/a6.jpg" alt="" class="h-[347px]" />
            </div>
            <div class="gap-x-10 text-2xl font-bold text-black">
              <div>Maggana</div>
              <div class="flex justify-around">
                <div class="flex justify-evenly">
                  <div><span class="material-icons"> location_on </span></div>
                  <div>
                    216 Eddy St, San Francisco, <br />
                    California (CA), 94102
                  </div>
                </div>
                <div class="flex justify-evenly">
                  <div><span class="material-icons"> phone </span></div>
                  <div>(415)655-9116</div>
                </div>
              </div>
            </div>
          </div>
          <div class="shadow-lg bg-transparent w-[550px] h-[560px]">
            <div>
              <img src="@/assets/about/a7.jpg" alt="" class="h-[347px]" />
            </div>
            <div class="gap-x-10 text-2xl font-bold text-black">
              <div>Maggana</div>
              <div class="flex justify-around">
                <div class="flex justify-evenly">
                  <div><span class="material-icons"> location_on </span></div>
                  <div>
                    643 Mundy St Watertown, <br />
                    New York (NY), 13601
                  </div>
                </div>
                <div class="flex justify-evenly">
                  <div><span class="material-icons"> phone </span></div>
                  <div>(304)722-3754</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-20">
          <router-link to="">
            <button
              class="uppercase p-2 bg-[#001c54] text-white hover:bg-blue-500 transition ease-in-out"
            >
              our courses
            </button>
          </router-link>
        </div>
        <div class="flex h-[600px] mt-20 bg-[#001c54] justify-around">
          <div class="ml-20 text-white text-justify mt-20">
            <div class="text-4xl font-bold">
              Grow your career! <br />
              Start learning with <br />
              Academy.
            </div>
            <h3 class="mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
              <br />
              quisque integer elementum egestas aliquet tincidunt.
            </h3>
            <div class="mt-10">
              <router-link to="/">
                <button
                  class="border-2 border-black p-2 text-white bg-[#001c54] uppercase mt-5 hover:bg-blue-500 hover:text-white"
                >
                  our courses
                </button>
              </router-link>
            </div>
          </div>
          <div class="mt-20">
            <img
              src="@/assets/blogs/bgimg.svg"
              class="bg-center bg-no-repeat"
              alt=""
            />
          </div>
        </div>
        <div class="mt-32">
          <div>
            <div class="flex justify-around">
              <div class="text-3xl text-black font-bold">Meet Our Teachers</div>
              <div>
                <router-link to="">
                  <button
                    class="p-2 uppercase border-2 border-black hover:bg-[#001c54] hover:text-white"
                  >
                    all teachers
                  </button>
                </router-link>
              </div>
            </div>
            <div class="flex justify-around">
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat
                <br />
                feugiat congue viverra facilisis.
              </p>
              <div></div>
            </div>
          </div>
          <div class="flex mt-10 ml-40 gap-x-20">
            <div
              class="w-[310px] h-[455px] shadow-xl bg-transparent items-center justify-center"
            >
              <div>
                <img
                  src="@/assets/about/a8.jpg"
                  class="w-[136px] rounded-full mx-auto"
                  alt=""
                />
              </div>
              <div class="text-2xl mt-5 font-bold text-black">John Carter</div>
              <div class="mt-10">
                <h3 class="font-bold uppercase text-black">Digital Marketer</h3>
                <p class="mt-5">
                  Lorem ipsum dolor sit amet, consectet <br />
                  adipiscing elit. Ut sit curabitur <br />
                  pellentesq sollicitudin malesuada <br />
                  aliquam risus.
                </p>
                <div>
                  <router-link to="">
                    <button
                      class="uppercase mt-5 p-2 border-2 border-black hover:bg-[#001c54] hover:text-white"
                    >
                      view profile
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
            <div
              class="w-[310px] h-[455px] shadow-xl bg-transparent items-center justify-center"
            >
              <div>
                <img
                  src="@/assets/about/a8.jpg"
                  class="w-[136px] rounded-full mx-auto"
                  alt=""
                />
              </div>
              <div class="text-2xl mt-5 font-bold text-black">John Carter</div>
              <div class="mt-10">
                <h3 class="font-bold uppercase text-black">Digital Marketer</h3>
                <p class="mt-5">
                  Lorem ipsum dolor sit amet, consectet <br />
                  adipiscing elit. Ut sit curabitur <br />
                  pellentesq sollicitudin malesuada <br />
                  aliquam risus.
                </p>
                <div>
                  <router-link to="">
                    <button
                      class="uppercase p-2 mt-5 border-2 border-black hover:bg-[#001c54] hover:text-white"
                    >
                      view profile
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
            <div
              class="w-[310px] h-[455px] shadow-xl bg-transparent items-center justify-center"
            >
              <div>
                <img
                  src="@/assets/about/a8.jpg"
                  class="w-[136px] rounded-full mx-auto"
                  alt=""
                />
              </div>
              <div class="text-2xl mt-5 font-bold text-black">John Carter</div>
              <div class="mt-10">
                <h3 class="font-bold uppercase text-black">Digital Marketer</h3>
                <p class="mt-5">
                  Lorem ipsum dolor sit amet, consectet <br />
                  adipiscing elit. Ut sit curabitur <br />
                  pellentesq sollicitudin malesuada <br />
                  aliquam risus.
                </p>
                <div>
                  <router-link to="">
                    <button
                      class="uppercase p-2 border-2 mt-5 border-black hover:bg-[#001c54] hover:text-white"
                    >
                      view profile
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 p-5 border-2 rounded-xl overflow-hidden">
            <div class="justify-center items-center p-2 uppercase">
              There are no teachers available yet.
            </div>
          </div>
        </div>
        <div class="mt-28 border-b-2 mx-10"></div>
      </div>
    </section>
    <FooterLms />
  </div>
</template>

<script>
import HeaderLms from "@/components/HeaderLms.vue";
import FooterLms from "@/components/FooterLms.vue";
export default {
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<style></style>
