<template>
  <div>
    <HeaderLms />
    <section>
      <div class="mt-40">
        <div class="justify-center items-center">
          <div class="text-4xl"><strong>Blogs</strong></div>
          <p>
            Discover great content to grow your skills in <br />
            Design, Development and Marketing.
          </p>
        </div>
        <div class="flex mt-10 justify-evenly">
          <div class="rounded-xl overflow-hidden h-[500px] w-[358px] border-2">
            <img src="@/assets/blogs/rust2.png" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">
                Embedded programming in Rust <br />requires a whole new
                knowledge <br />base.Using a Rapberry Pi Zero
              </h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-8 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                <div class="uppercase font-bold">demo instructor</div>
              </div>
              <div class="items-center mt-3">1 Likes</div>
            </div>
          </div>
          <div class="rounded-xl overflow-hidden w-[358px] h-[500px] border-2">
            <img src="@/assets/blogs/rust.jpg" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">Artificial Intelligence</h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-16 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                <div class="uppercase font-bold">demo maggana</div>
              </div>
              <div class="items-center mt-3">1 Likes</div>
            </div>
          </div>
          <div class="rounded-xl overflow-hidden border-2 h-[500px] w-[358px]">
            <img src="@/assets/blogs/rust3.png" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">Rust Survey 2023 Results</h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-16 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                <div class="uppercase font-bold">demo instructor</div>
              </div>
              <div class="items-center mt-3">2 Likes</div>
            </div>
          </div>
        </div>
        <div class="mt-40">
          <div class="flex mt-40 justify-evenly">
            <div
              class="rounded-xl overflow-hidden h-[500px] w-[358px] border-2"
            >
              <img src="@/assets/blogs/rust41.jpg" class="h-[200px]" alt="" />
              <div class="mt-10 ml-2 text-left">
                <h3 class="font-bold text-black">Embedded programming</h3>
                <p class="mt-10">Created @ 31 oct 2023</p>
                <div class="border-b-2 mt-10"></div>
              </div>
              <div class="flex mt-8 justify-around">
                <div class="flex align-middle items-center gap-x-3">
                  <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                  <div class="uppercase font-bold">demo instructor</div>
                </div>
                <div class="items-center mt-3">1 Likes</div>
              </div>
            </div>
            <div
              class="rounded-xl overflow-hidden w-[358px] h-[500px] border-2"
            >
              <img
                src="@/assets/blogs/rust42.jpg"
                class="h-[200px] w-full"
                alt=""
              />
              <div class="mt-10 ml-2 text-left">
                <h3 class="font-bold text-black">The UX Pyramid</h3>
                <p class="mt-10">Created @ 31 oct 2023</p>
                <div class="border-b-2 mt-10"></div>
              </div>
              <div class="flex mt-16 justify-around">
                <div class="flex align-middle items-center gap-x-3">
                  <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                  <div class="uppercase font-bold">demo maggana</div>
                </div>
                <div class="items-center mt-3">1 Likes</div>
              </div>
            </div>
            <div
              class="rounded-xl overflow-hidden border-2 h-[500px] w-[358px]"
            >
              <img src="@/assets/blogs/rust43.jpg" class="h-[200px]" alt="" />
              <div class="mt-10 ml-2 text-left">
                <h3 class="font-bold text-black">
                  10 Reasons to Pursue Online Certification Programs in
                  Entrepreneurship Development
                </h3>
                <p class="mt-10">Created @ 31 oct 2023</p>
                <div class="border-b-2 mt-10"></div>
              </div>
              <div class="flex mt-16 justify-around">
                <div class="flex align-middle items-center gap-x-3">
                  <img src="@/assets/blogs/lady.jpg" class="w-12" alt="" />
                  <div class="uppercase font-bold">demo instructor</div>
                </div>
                <div class="items-center mt-3">2 Likes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <FooterLms />
  </div>
</template>

<script>
import FooterLms from "../../components/FooterLms.vue";
import HeaderLms from "../../components/HeaderLms.vue";
export default {
  name: "BlogsPosts",
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<style></style>
