<template>
  <div>
    <HeaderLms />
    <section>
      <div>
        <div class="container mt-20 flex justify-around">
          <div class="w-[700px] text-justify flex justify-center items-center">
            <div>
              <div class="text-6xl font-bold text-black">Courses</div>
              <p class="">
                Lorem ipsum dolor sit amet, consectetur adipiscing <br />
                elit. Viverra tristique laoreet ut elementum cras cursus. <br />
                Morbi morbi at diam.
              </p>
              <div class="mt-10">
                <router-link to="#">
                  <button
                    class="rounded-sm bg-[#001c54] align-middle uppercase p-2 text-white hover:bg-blue-500"
                  >
                    view courses
                  </button>
                </router-link>
              </div>
            </div>
          </div>
          <div class="shadow-xl bg-transparent">
            <img
              src="@/assets/courses/c1.jpg"
              class="w-full rounded-xl overflow-hidden"
              alt=""
            />
          </div>
        </div>
        <div class="mt-20 border-b-2"></div>
      </div>
    </section>
    <section class="mt-20">
      <div>
        <div class="font-bold text-black text-6xl">Latest Courses</div>
        <div class="mt-10">
          <div class="flex justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c2.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      Python for beginners
                    </div>
                    <h3>
                      This is a concise Python 3 programming <br />tutorial for
                      people who think that readin ....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c3.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">BBA</div>
                    <h3>Bachelors of Business Administration</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c4.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      NEET (UG) 2023
                    </div>
                    <h3>NEET</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c5.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Python</div>
                    <h3>
                      Python is a programming language that lets you<br />work
                      quickly and integrate system
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c6.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">HTML</div>
                    <h3>
                      Whether you're a business person formatting <br />
                      your emails, an aspiring web designe ....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c7.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      VUE ESSENTIALS COMMANDS
                    </div>
                    <h3>
                      Vue CLInCommand line interface for rapid Vue <br />
                      development.
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;11999</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c8.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Linux</div>
                    <h3>
                      Did you know that more than 90% of public <br />cloud
                      computing uses Linux OS? How Wel....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c9.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      Professional Rust - Ultimate course
                    </div>
                    <h3>test</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c10.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">UI&UX</div>
                    <h3>UI/UX Learning Resources</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c11.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">English</div>
                    <h3>Term 1</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c12.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">10Th English</div>
                    <h3>Contents</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c13.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">SSLC</div>
                    <h3>Part 2 English</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c14.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">JQuery</div>
                    <h3>JQuery is a fast and Concise JavaScript Library</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c15.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">9th English</div>
                    <h3>How To use the book</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c16.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      10th Mathematics
                    </div>
                    <h3>CONTENTS</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c17.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">JavaScript</div>
                    <h3>
                      JavaScript variables can be: Numbers,Strings,
                      <br />Objects,Arrays,Functions
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c18.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Python</div>
                    <h3>python rest api framework</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c19.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      MBA in Banking and Finance
                    </div>
                    <h3>
                      Banking is the backbone of the Indian economy, <br />
                      and the demand for skilled financ....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;15000</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c20.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      cyber security
                    </div>
                    <h3>cyber security</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c21.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Vue.js</div>
                    <h3>Introduction VUE JS</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c22.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">
                      Python for beginners
                    </div>
                    <h3>
                      This is a concise Python 3 Programming tutorial <br />
                      for people who think that readin ....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c23.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Go</div>
                    <h3>
                      The Go programming language is an open <br />source
                      project to make programmers more p
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c24.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">M.Com</div>
                    <h3>
                      Accounting and Finance form the core of a <br />
                      business.Insights into these two inte....
                    </h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c25.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Flutter</div>
                    <h3>Build Your Apps For Any Device</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex mt-16 justify-evenly">
            <router-link to=""
              ><div
                class="w-[384px] h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img
                    src="@/assets/courses/c25.jpg"
                    alt=""
                    class="w-full h-[200px]"
                  />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl">Flutter</div>
                    <h3>Build Your Apps For Any Device</h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] invisible h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img src="" alt="" class="w-full h-[200px]" />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl"></div>
                    <h3></h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
            <router-link to=""
              ><div
                class="w-[384px] invisible h-[528px] shadow-2xl transition-transform ease-in-out overflow-hidden rounded-2xl"
              >
                <div>
                  <img src="" alt="" class="w-full h-[200px]" />
                </div>
                <div>
                  <div class="space-y-10 text-justify px-10 mt-10">
                    <div class="text-black font-bold text-xl"></div>
                    <h3></h3>
                    <div class="border-b-2"></div>
                  </div>
                  <div>
                    <div class="flex justify-between m-10">
                      <div class="flex space-x-1 items-center">
                        <img src="@/assets/icon.svg" alt="" class="" />
                        <div class="font-semibold">beginners</div>
                      </div>
                      <div class="font-semibold text-red-700">&#8377;Free</div>
                    </div>
                  </div>
                </div>
              </div></router-link
            >
          </div>
          <div class="flex h-[600px] mt-20 bg-[#001c54] justify-around">
            <div class="ml-20 text-white text-justify mt-20">
              <div class="text-4xl font-bold">
                Grow your career! <br />
                Start learning with <br />
                Academy.
              </div>
              <h3 class="mt-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
                <br />
                quisque integer elementum egestas aliquet tincidunt.
              </h3>
              <div class="mt-10">
                <router-link to="/">
                  <button
                    class="border-2 border-black p-2 text-white bg-[#001c54] uppercase mt-5 hover:bg-blue-500 hover:text-white"
                  >
                    our courses
                  </button>
                </router-link>
              </div>
            </div>
            <div class="mt-20">
              <img
                src="@/assets/blogs/bgimg.svg"
                class="bg-center bg-no-repeat"
                alt=""
              />
            </div>
          </div>
          <div class="mt-10">
            <div>
              <div class="text-6xl font-bold text-black">
                Why Study With us?
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing <br />
                elit. Feugiat feugiat congue viverra facilisis.
              </p>
            </div>
            <div class="mt-20">
              <div class="flex justify-evenly items-center">
                <div>
                  <img src="@/assets/courses/ca11.svg" alt="" class="mx-auto" />
                  <div class="mt-10 text-4xl font-bold text-black">
                    World-Class Teachers
                  </div>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie tortorerm, <br />
                    gravid a aenean neque. Placerat arcu phasellus.
                  </p>
                </div>
                <div>
                  <img src="@/assets/courses/ca12.svg" alt="" class="mx-auto" />
                  <div class="mt-10 text-4xl font-bold text-black">
                    Global Students Community
                  </div>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie tortorerm, <br />
                    gravid a aenean neque. Placerat arcu phasellus.
                  </p>
                </div>
              </div>
              <div class="flex mt-10 justify-evenly items-center">
                <div>
                  <img src="@/assets/courses/ca21.svg" alt="" class="mx-auto" />
                  <div class="mt-10 text-4xl font-bold text-black">
                    Top Notch Courses
                  </div>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie tortorerm, <br />
                    gravid a aenean neque. Placerat arcu phasellus.
                  </p>
                </div>
                <div>
                  <img src="@/assets/courses/ca22.svg" alt="" class="mx-auto" />
                  <div class="mt-10 text-4xl font-bold text-black">
                    One-on-One Mentorship
                  </div>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie tortorerm, <br />
                    gravid a aenean neque. Placerat arcu phasellus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-center items-center">
            <router-link to="#">
              <button
                class="rounded-sm bg-[#001c54] align-middle uppercase p-2 text-white hover:bg-blue-500"
              >
                view courses
              </button>
            </router-link>
          </div>
          <div class="border-b-2 mt-20"></div>
        </div>
      </div>
    </section>
    <section class="mt-20">
      <div>
        <div class="text-6xl text-black font-bold">
          Why Students Love Academy
        </div>
        <h3 class="mt-20 text-2xl">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porta massa,
          <br />
          eget natoque tincidunt quis. Suspendisse vitae vestibulum scelerisque
          <br />
          egestas. Volutpat, adipiscing a elit platea amet et.”
        </h3>
        <div class="flex mt-10 justify-center items-center">
          <div class="flex justify-around space-x-10 border-2 p-4">
            <div
              class="flex justify-evenly items-center space-x-5 border-t-2 border-black"
            >
              <div class="w-16">
                <img
                  src="@/assets/courses/c31.jpg"
                  alt=""
                  class="rounded-full w-full"
                />
              </div>
              <div class="text-justify">
                <div>Cristina Robin</div>
                <div>SEO Specialist</div>
              </div>
            </div>
            <div class="flex justify-evenly items-center space-x-5">
              <div class="w-16">
                <img
                  src="@/assets/courses/c32.jpg"
                  alt=""
                  class="rounded-full w-full"
                />
              </div>
              <div class="text-justify">
                <div>John Turner</div>
                <div>Web Designer</div>
              </div>
            </div>
            <div class="flex justify-evenly space-x-5 items-center">
              <div class="w-16">
                <img
                  src="@/assets/courses/c33.jpg"
                  alt=""
                  class="rounded-full w-full"
                />
              </div>
              <div class="text-justify">
                <div>Tania Collins</div>
                <div>Outbound Marketer</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 flex justify-center items-center">
          <router-link to="#">
            <button
              class="rounded-sm bg-[#001c54] align-middle uppercase p-2 text-white hover:bg-blue-500"
            >
              view courses
            </button>
          </router-link>
        </div>
        <div class="border-b-2 mt-10"></div>
      </div>
    </section>
    <FooterLms />
  </div>
</template>

<script>
import HeaderLms from "@/components/HeaderLms.vue";
import FooterLms from "@/components/FooterLms.vue";
export default {
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<style></style>
