<template>
  <div>
    <header>
      <HeaderLms />
    </header>
    <section class="mt-2">
      <div>
        <div class="flex mx-20 p-2 items-center bg-[#f6f7f8]">
          <div
            v-for="(tab, index) in tabs"
            :key="index"
            @click="activeTab = tab.name"
            :class="{
              ' bg-white border-2 rounded-lg overflow-hidden':
                activeTab === tab.name,
              ' bg-[#f6f7f8]': activeTab !== tab.name,
            }"
            class="mx-10 items-center cursor-pointer"
          >
            <div class="p-1">
              {{ tab.name }}
            </div>
          </div>
        </div>
        <div class="mt-20">
          <div v-if="activeTab === 'My Profile'">
            <div class="">
              <div class="justify-center items-center">
                <img
                  src="@/assets/demo/d1.jpg"
                  alt=""
                  class="w-[192px] mx-auto"
                />
                <img
                  src="@/assets/demo/edit.svg"
                  alt=""
                  class="w-[27px] mx-auto"
                />
                <div><strong>Demo Students</strong></div>
                <p>(Student)</p>
              </div>
              <div class="flex mt-10 justify-center space-x-5 items-center">
                <div class="">
                  <router-link to="">
                    <fa :icon="['fab', 'github']" />
                  </router-link>
                </div>
                <div class="hover:text-blue-500">
                  <router-divnk to="">
                    <fa :icon="['fab', 'twitter']" />
                  </router-divnk>
                </div>
                <div class="hover:text-red-500">
                  <router-divnk to="">
                    <fa :icon="['fab', 'instagram']" />
                  </router-divnk>
                </div>
                <div class="hover:text-blue-500">
                  <router-divnk to="">
                    <fa :icon="['fab', 'linkedin']" />
                  </router-divnk>
                </div>
              </div>
              <div class="w-[1161px] h-[479px] text-justify">
                <div class="w-[779px] mx-[191px] border-b-2 space-y-4">
                  <div class="text-black">Full Name</div>
                  <div>Demo Student</div>
                </div>
                <div class="w-[779px] mx-[191px] border-b-2 space-y-4">
                  <div class="text-black">Email</div>
                  <div>demostudent@gmail.com</div>
                </div>
                <div class="w-[779px] mx-[191px] border-b-2 space-y-4">
                  <div class="text-black">Mobile</div>
                  <div>9876543211</div>
                </div>
                <div class="w-[779px] mx-[191px] border-b-2 space-y-4">
                  <div class="text-black">Address</div>
                  <div>123 demo street, demo 1st stage , abc City</div>
                </div>
                <div class="w-[779px] mx-[191px] space-y-4">
                  <div class="text-black">Descriptions</div>
                  <div class="flex space-x-3">
                    <div>
                      <img src="@/assets/demo/pass.svg" alt="" class="w-10" />
                    </div>
                    <div
                      @mouseover="ChangeColor"
                      @mouseleave="OriginalColor"
                      :style="textStyle"
                    >
                      Change Password
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="activeTab === 'My Courses'"></div>
          <div v-if="activeTab === 'Payment Info'"></div>
        </div>
      </div>
    </section>
    <footer>
      <FooterLms />
    </footer>
  </div>
</template>

<script>
import HeaderLms from "@/components/HeaderLms.vue";
import FooterLms from "@/components/FooterLms.vue";
export default {
  name: "DemoStudent",
  components: {
    HeaderLms,
    FooterLms,
  },
  data() {
    return {
      tabs: [
        {
          name: "My Profile",
        },
        {
          name: "My Courses",
        },
        {
          name: "Payment Info",
        },
      ],
      activeTab: "My Profile",
      textColor: "black",
    };
  },
  computed: {
    textStyle() {
      return {
        color: this.textColor,
      };
    },
  },
  methods: {
    ChangeColor() {
      this.textColor = "blue";
    },
    OriginalColor() {
      this.textColor = "black";
    },
  },
};
</script>

<style></style>
