<template>
  <div>
    <HeaderLms />
    <section class="mt-20">
      <div class="justify-center items-center mt-10">
        <div class="text-6xl text-black font-bold">Upcoming Events.</div>
        <div class="space-y-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
            Viverra tristique laoreet ut elementum cras cursus.
          </p>
        </div>
      </div>
      <div class="mt-56 mx-20 border-b-2"></div>
    </section>
    <FooterLms />
  </div>
</template>

<script>
import HeaderLms from "@/components/HeaderLms.vue";
import FooterLms from "@/components/FooterLms.vue";
export default {
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<style></style>
