<template>
  <div>
    <div class="flex justify-between mt-40">
      <div class="ml-20 text-justify">
        <div>
          <router-divnk to="/">
            <img src="@/assets/Header/Maggana.png" class="w-32" alt="" />
          </router-divnk>
        </div>
        <div class="flex mt-5 space-x-3">
          <div
            class="p-2 hover:rounded-full hover:bg-[#001c54] hover:text-white"
          >
            <div class="items-center align-middle">
              <router-divnk to="">
                <fa :icon="['fab', 'facebook-f']" />
              </router-divnk>
            </div>
          </div>
          <div
            class="p-2 hover:rounded-full hover:bg-[#001c54] hover:text-white"
          >
            <router-divnk to="">
              <fa :icon="['fab', 'twitter']" />
            </router-divnk>
          </div>
          <div
            class="p-2 hover:rounded-full hover:bg-[#001c54] hover:text-white"
          >
            <router-divnk to="">
              <fa :icon="['fab', 'instagram']" />
            </router-divnk>
          </div>
          <div
            class="p-2 hover:rounded-full hover:bg-[#001c54] hover:text-white"
          >
            <router-divnk to="">
              <fa :icon="['fab', 'linkedin']" />
            </router-divnk>
          </div>
          <div
            class="p-2 hover:rounded-full hover:bg-[#001c54] hover:text-white"
          >
            <router-divnk to="">
              <fa :icon="['fab', 'youtube']" />
            </router-divnk>
          </div>
        </div>
      </div>
      <div class="mr-20">
        <div class="text-black text-left"><strong>Pages</strong></div>
        <div class="flex mt-5 text-justify justify-evenly">
          <div class="gap-2 p-2">
            <ul>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/">Home</router-link>
              </li>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/about">About</router-link>
              </li>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/courses-view">Courses</router-link>
              </li>
            </ul>
          </div>
          <div class="gap-2 p-2">
            <ul>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/blogs-posts">Blog Posts</router-link>
              </li>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/events-view">Events</router-link>
              </li>
              <li class="hover:font-bold hover:text-black">
                <router-link to="/my-events">My Events</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-20 text-left mt-32">
      Copyright @ Maggana | Powered by Chadura
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
