<template>
    <div>
      <NavigationView
        :isNavOpenVar="isNavOpen"
        @menu-icon-click="menuIconClickHandle"
      />
      <section>
        <div class="flex">
          <LeftNavigationView :isLeftNavOpen="isNavOpen" />
          <div class="shrink-0 flex-1 h-full bg-gray-200">
            <div class="mt-4 pl-4">
              <div class="flex">
                <div
                  v-for="(tab, index) in tabs"
                  :key="index"
                  @click="activeTab = tab.name"
                  :class="{
                    ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                      activeTab === tab.name,
                    ' hover:bg-[#d1d1d1]': activeTab !== tab.name,
                  }"
                  class="px-4 py-2 items-center space-x-2 focus:outline-none"
                >
                  <div>
                    <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                  </div>
                  <div>
                    <span class="text-black mb-0 uppercase">{{ tab.name }}</span>
                  </div>
                </div>
              </div>
  
              <div class="mt-4 p-4">
                <div class="bg-white shadow-2xl">
                  <div v-if="activeTab === 'goods list'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between items-center h-10">
                        <div class="flex border-2 text-center gap-x-6">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Code
                              </th>
  
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Desc
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Supplier
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Weight(Unit:g)
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Width(Unit:mm)
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Depth(Unit:mm)
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Height(Unit:mm)
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Unit Volume
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Goods Ur
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">Action</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'unit'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Unit
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'class'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Class
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'color'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Color
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'brand'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Brand
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'shape'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Shape
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'specs'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Specs
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div v-if="activeTab === 'origin'">
                    <div class="h-[700px] p-4">
                      <div class="flex justify-between  items-center">
                        <div class="flex gap-x-6 border-2">
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> add </span>
                              <span class="uppercase text-xl">new</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <button class="flex gap-x-2">
                              <span class="material-icons"> refresh </span>
                              <span class="uppercase text-xl">refresh</span>
                            </button>
                          </div>
                        </div>
  
                        <div class="flex items-center">
                          <div
                            class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                          >
                            <input type="text" placeholder="Search World" /><span
                              class="material-icons"
                              >search</span
                            >
                          </div>
                        </div>
                      </div>
                      <div>
                        <table class="w-full mt-6">
                          <thead>
                            <tr class="divide-x border h-12">
                              <th class=" text-center  px-3 py-1 text-sm">
                                goods Origin
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                creater
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Create Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Update Time
                              </th>
                              <th class=" text-center  px-3 py-1 text-sm">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex h-10 mt-10 justify-center">
                  <button class="p-3 hover:bg-[#d1d1d1]">
                    <span class="uppercase font-bold text-black">no more data</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </template>
  
  <script>
  import LeftNavigationView from "../components/LeftNavigationView.vue";
  import NavigationView from "../components/NavigationView.vue";
  
  export default {
    name: "GoodsList",
    components: {
      NavigationView,
      LeftNavigationView,
    },
    data() {
      return {
        isNavOpen: true,
        tabs: [
          {
            name: "goods list",
            iconUrl: require("@/assets/Good/good1.png"),
          },
          {
            name: "unit",
            iconUrl: require("@/assets/Good/good2.png"),
          },
          {
            name: "class",
            iconUrl: require("@/assets/Good/good3.png"),
          },
          {
            name: "color",
            iconUrl: require("@/assets/Good/good4.png"),
          },
          {
            name: "brand",
            iconUrl: require("@/assets/Good/good5.png"),
          },
          {
            name: "shape",
            iconUrl: require("@/assets/Good/good6.png"),
          },
          {
            name: "specs",
            iconUrl: require("@/assets/Good/good7.png"),
          },
          {
            name: "origin",
            iconUrl: require("@/assets/Good/good8.png"),
          },
        ],
        activeTab: "goods list",
      };
    },
    methods: {
      menuIconClickHandle(isClicked) {
        this.isNavOpen = isClicked;
      },
    },
  };
  </script>
  
  <style></style>
  