<template>
  <div class="flex p-3 justify-around border-b-2">
    <div class="flex align-middle gap-10">
      <img src="@/assets/Header/Maggana.png" class="w-32" alt="" />
      <div class="flex items-center gap-6">
        <router-link to="/"><b>Home</b></router-link>
        <span
          >Pages
          <span class="material-icons align-middle"> expand_more </span>
        </span>
      </div>
    </div>
    <div class="flex items-center gap-10">
      <div class="flex justify-center items-center gap-3">
        <img src="@/assets/Header/demo.jpg" class="w-10" alt="" />
        <router-link to="/demo-student"><b>DemoStudent</b></router-link>
      </div>
      <button class="bg-black text-white uppercase p-2">
        <strong>Logout</strong>
      </button>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
