<template>
  <div class="home">
    <HeaderLms />
    <section class="mt-10">
      <div class="flex p-4 justify-evenly w-full">
        <div class="text-justify mt-10">
          <div class="text-7xl text-black">
            <strong
              >Learn new tech skills<br />Get a raise or change<br />jobs.</strong
            >
          </div>
          <div class="text-justify mt-5">
            <h3>
              Maggana courses will help you becomea sought-after employee in the
              <br />
              IT industry.Industry-relevant courses,real-world
              projects,world-class <br />community and earn upto 45LPA
            </h3>
          </div>
        </div>
        <div class="rounded-3xl border-2 overflow-hidden">
          <img src="@/assets/student.jpg" class="w-[400px]" alt="" />
        </div>
      </div>
    </section>
    <section class="mt-20">
      <div class="text-4xl">
        <strong>OUR STUDENTS WORK IN COMPANIES SUCH AS</strong>
      </div>
      <div class="flex mt-10 p-4 w-full justify-center">
        <div class="mx-40 h-16 border-b-2 border-slate-300">
          <marquee behavior="" direction="ltr">
            <div class="flex shadow-b-md space-x-5 shadow-slate-300">
              <img src="@/assets/Amazon.png" alt="" class="" />
              <img src="@/assets/Byjus.png" alt="" class="" />
              <img src="@/assets/Flipkart.png" alt="" class="" />
              <img src="@/assets/google.jpg" alt="" class="" />
              <img src="@/assets/Lenskart.jpg" alt="" class="" />
              <img src="@/assets/razor.png" alt="" class="" />
              <img src="@/assets/tcs.png" alt="" class="" />
              <img src="@/assets/wipro.png" alt="" class="" />
              <img src="@/assets/zomato.png" alt="" class="" />
              <img src="@/assets/Policybazaar.jpg" alt="" class="" />
            </div>
          </marquee>
        </div>
      </div>
    </section>
    <section class="mt-20 ml-20">
      <div>
        <div class="text-justify">
          <h2 class="text-4xl"><strong>Our Courses</strong></h2>
          <p class="mt-5">
            Our courses are tailor made to make you industry ready from day one.
            From basics of Rust and all the way to deploying it in the Azure,
            AWS <br />
            cloud for millions of users.
          </p>
          <router-link to="/">
            <button
              class="border-2 p-2 text-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
            >
              all courses
            </button>
          </router-link>
        </div>
        <div class="flex justify-around mt-10">
          <div class="flex space-x-5">
            <div class="flex border-2 h-[400px] w-[384px] rounded-2xl p-3">
              <router-link to="">
                <div class="flex">
                  <div class="">
                    <img src="@/assets/python.jpg" class="h-56 w-full" alt="" />
                  </div>
                  <div class="">
                    <div class="mt-10">
                      <h2 class="text-lg font-semibold">
                        Python For Beginners
                      </h2>
                      <p class="mt-5 ml-2 text-justify">
                        This is a concise Python 3 programming <br />
                        tutorial for people who think that reading ....
                      </p>
                    </div>
                  </div>
                </div>
                <div class="border-b-2 mt-14 mx-6"></div>
                <div class="flex justify-between m-10">
                  <div class="flex space-x-1 items-center">
                    <img src="@/assets/icon.svg" alt="" class="" />
                    <div class="font-semibold">beginners</div>
                  </div>
                  <div class="font-semibold text-red-700">&#8377;Free</div>
                </div>
              </router-link>
            </div>
            <div class="border-2 h-[400px] w-[384px] rounded-2xl p-2">
              <router-link to="">
                <div class="flex">
                  <div>
                    <img src="@/assets/jain.png" class="h-56 w-full" alt="" />
                  </div>
                  <div>
                    <div class="mt-10">
                      <h2 class="text-lg font-semibold">BBA</h2>
                      <p class="mt-5 ml-2">
                        Bachelors of Business Administration
                      </p>
                    </div>
                  </div>
                </div>
                <div class="border-b-2 mt-14 mx-6"></div>
                <div class="flex justify-between m-10">
                  <div class="flex space-x-1 items-center">
                    <img src="@/assets/icon.svg" alt="" class="" />
                    <div class="font-semibold">beginners</div>
                  </div>
                  <div class="font-semibold text-red-700">&#8377;Free</div>
                </div>
              </router-link>
            </div>
            <div class="border-2 h-[400px] w-[384px] rounded-2xl p-2">
              <router-link to="">
                <div class="flex">
                  <div>
                    <img src="@/assets/lap.jpg" class="h-56 w-full" alt="" />
                  </div>
                  <div>
                    <div class="mt-10">
                      <h2 class="text-lg font-semibold">NEET(UG)2023</h2>
                      <p class="mt-5 ml-2 text-justify">NEET</p>
                    </div>
                  </div>
                </div>
                <div class="border-b-2 mt-14 mx-6"></div>
                <div class="flex justify-between m-10">
                  <div class="flex space-x-2 items-center">
                    <img src="@/assets/icon.svg" alt="" class="" />
                    <div class="font-semibold">beginners</div>
                  </div>
                  <div class="font-semibold text-red-700">&#8377;Free</div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="flex mt-[180px] w-full justify-between p-4 border-b-2">
          <div class="items-center">
            <h1 class="text-3xl font-bold">100+</h1>
            <h2>Partner companies</h2>
          </div>
          <div class="items-center">
            <h1 class="text-3xl font-bold">95%</h1>
            <h2>Placement Rate</h2>
          </div>
          <div class="items-center">
            <h1 class="text-3xl font-bold">
              10<span class="text-2xl">LPA</span>
            </h1>
            <h2>Average Package</h2>
          </div>
          <div class="items-center">
            <h1 class="text-3xl font-bold">
              45<span class="text-2xl">LPA</span>
            </h1>
            <h2>Highest Package</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-[150px]">
      <div class="">
        <div class="items-center justify-center">
          <div class="text-4xl font-bold">
            <strong>Choose Your Path</strong>
          </div>
          <p class="mt-5">
            Choose how would you like to learn on Maggana. You can study full or
            part-time <br />
            in our local programs, or remotely with our online courses
          </p>
        </div>
        <div class="flex justify-evenly mt-36">
          <div class="items-center justify-center">
            <img src="@/assets/time.svg" alt="" class="mx-auto" />
            <div class="p-2 mt-5 text-2xl font-bold">Freshers</div>
            <p class="p-2 text-justify mt-5">
              Lorem ipsum dolor sit amet, consectere <br />
              adipiscing elit. Feugiat feugiat congue <br />
              viverra facilisis lorem ipsum.
            </p>
            <router-link to="/">
              <button
                class="border-2 p-2 text-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
              >
                learn more
              </button>
            </router-link>
          </div>
          <div class="items-center justify-center">
            <img src="@/assets/time1.svg" alt="" class="mx-auto" />
            <div class="p-2 mt-5 text-2xl font-bold">Working Professional</div>
            <p class="p-2 mt-5 text-justify">
              Lorem ipsum dolor sit amet, consectere <br />
              adipiscing elit. Feugiat feugiat congue <br />
              viverra facilisis lorem ipsum.
            </p>
            <router-link to="/">
              <button
                class="border-2 p-2 text-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
              >
                learn more
              </button>
            </router-link>
          </div>
          <div class="items-center justify-center">
            <img src="@/assets/time2.svg" class="mx-auto" alt="" />
            <div class="p-2 mt-5 text-2xl font-bold">Flexible Courses</div>
            <p class="p-2 mt-5 text-justify">
              Lorem ipsum dolor sit amet, consectere <br />
              adipiscing elit. Feugiat feugiat congue <br />
              viverra facilisis lorem ipsum.
            </p>
            <router-link to="/">
              <button
                class="border-2 p-2 text-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
              >
                view more
              </button>
            </router-link>
          </div>
        </div>
        <div class="bg-[#001c54] h-[500px] mt-[150px] flex justify-evenly">
          <div class="text-white mt-24 items-center text-justify">
            <div class="text-3xl text-white">
              <strong
                >Maggana helped me to learn <br />
                the skills to land my dream job.</strong
              >
            </div>
            <p class="mt-5">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
              <br />
              quisque integer elementum egestas aliquet tincidunt. Nunc
              mauris<br />
              enim tortor libero viverra aenean. Portitor semper facilisi
              velit.”
            </p>
            <h2 class="mt-5">Daniel Carter - Developer at Webflow</h2>
            <router-link to="/">
              <button
                class="border-2 p-2 text-white uppercase mt-5 hover:bg-[#001c54] hover:text-white"
              >
                our courses
              </button>
            </router-link>
          </div>
          <div class="flex align-middle items-center">
            <img
              src="@/assets/man.jpg"
              alt=""
              class="w-[500px] h-[400px] rounded-2xl"
            />
          </div>
        </div>
        <div class="mt-[100px]">
          <div class="flex justify-around px-4">
            <div class="text-3xl mt-10 text-black font-bold">
              Why Learning With us?
            </div>
            <div class="">
              <router-link to="/">
                <button
                  class="border-2 p-2 text-white bg-[#001c54] uppercase mt-5 hover:bg-blue-500 hover:text-white"
                >
                  our courses
                </button>
              </router-link>
            </div>
          </div>
          <div class="flex mt-10 ml-20">
            <div class="grow w-[500px] border-r-2">
              <div class="flex space-x-8">
                <img src="@/assets/picon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold">Placement Assistance</h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
              <div class="flex space-x-8">
                <img src="@/assets/wicon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold space-y-8">
                    World-Class Teachers
                  </h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
              <div class="flex space-x-8">
                <img src="@/assets/gicon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold space-y-8">
                    Global Student Community
                  </h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
            </div>
            <div class="grow ml-20">
              <div class="flex space-x-8">
                <img src="@/assets/ticon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold space-y-8">Top Notch Courses</h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
              <div class="flex space-x-8">
                <img src="@/assets/micon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold space-y-8">
                    One-on-One Mentorship
                  </h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
              <div class="flex space-x-8">
                <img src="@/assets/licon.svg" alt="" />
                <div class="text-justify p-2">
                  <h2 class="text-xl font-bold space-y-8">
                    Leadership and Personality <br />
                    Development Skills
                  </h2>
                  <p class="mt-5">
                    Lorem ipsum dolor sit amet, consecteturirem <br />
                    adipiscing elit. Volutpat quis molestie <br />
                    tortorerm, gravida a aenean neque. Placerat
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-b-2 mt-20 mx-6"></div>
    </section>
    <section class="mt-20">
      <div>
        <div class="justify-center items-center">
          <div class="text-4xl"><strong>Blogs</strong></div>
          <p>
            Discover great content to grow your skills in <br />
            Design, Development and Marketing.
          </p>
        </div>
        <div class="flex mt-10 justify-evenly">
          <div class="rounded-xl overflow-hidden h-[500px] w-[358px] border-2">
            <img src="@/assets/blogs/rust2.png" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">
                Embedded programming in Rust <br />requires a whole new
                knowledge <br />base.Using a Rapberry Pi Zero
              </h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-8 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/male.png" class="w-12" alt="" />
                <div class="uppercase font-bold">demo instructor</div>
              </div>
              <div class="items-center mt-3">1 Likes</div>
            </div>
          </div>
          <div class="rounded-xl overflow-hidden w-[358px] h-[500px] border-2">
            <img src="@/assets/blogs/rust.jpg" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">Artificial Intelligence</h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-16 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/male.png" class="w-12" alt="" />
                <div class="uppercase font-bold">demo maggana</div>
              </div>
              <div class="items-center mt-3">1 Likes</div>
            </div>
          </div>
          <div class="rounded-xl overflow-hidden border-2 h-[500px] w-[358px]">
            <img src="@/assets/blogs/rust3.png" class="h-[200px]" alt="" />
            <div class="mt-10 ml-2 text-left">
              <h3 class="font-bold text-black">Rust Survey 2023 Results</h3>
              <p class="mt-10">Created @ 31 oct 2023</p>
              <div class="border-b-2 mt-10"></div>
            </div>
            <div class="flex mt-16 justify-around">
              <div class="flex align-middle items-center gap-x-3">
                <img src="@/assets/blogs/male.png" class="w-12" alt="" />
                <div class="uppercase font-bold">demo instructor</div>
              </div>
              <div class="items-center mt-3">2 Likes</div>
            </div>
          </div>
        </div>
        <div class="justify-center mt-10">
          <router-link to="">
            <button
              class="p-2 border-2 border-black uppercase hover:bg-[#001c54] hover:text-white"
            >
              more articles
            </button>
          </router-link>
        </div>
        <div class="flex h-[600px] mt-20 bg-[#001c54] justify-around">
          <div class="ml-20 text-white text-justify mt-20">
            <div class="text-4xl font-bold">
              Upgrade your career <br />
              with our courses and <br />
              increase your salary by <br />
              more than 50%
            </div>
            <h3 class="mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
              <br />
              quisque integer elementum egestas aliquet tincidunt.
            </h3>
            <div class="mt-10">
              <router-link to="/">
                <button
                  class="border-2 p-2 text-white bg-[#001c54] uppercase mt-5 hover:bg-blue-500 hover:text-white"
                >
                  our courses
                </button>
              </router-link>
            </div>
          </div>
          <div class="mt-20">
            <img
              src="@/assets/blogs/bgimg.svg"
              class="bg-center bg-no-repeat"
              alt=""
            />
            <!-- <img
              src="@/assets/blogs/imr.svg"
              class="bg-right-top bg-no-repeat"
              alt=""
            />
            <img
              src="@/assets/blogs/imgrb.svg"
              class="bg-right-bottom bg-no-repeat"
              alt=""
            />
            <img
              src="@/assets/blogs/imglc.svg"
              class="bg-left-bottom bg-no-repeat"
              alt=""
            /> -->
          </div>
        </div>
        <div class="mt-20">
          <div>
            <div class="text-4xl text-black">
              <strong>Upcoming Events</strong>
            </div>
            <p class="mt-5">
              Go deep into the world of engagement marketing, with live demos,
              customer success stories, lessons learned from your peers and our
              monthly <br />
              Webinar Best Practices Series. Don’t miss out on your chance to
              experience webinerd awesomeness — register for any and all, below.
            </p>
            <div>
              <router-link to="/">
                <button
                  class="border-2 p-2 border-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
                >
                  all events
                </button>
              </router-link>
            </div>
          </div>
          <div class="mt-20 uppercase justify-center p-4 border-2 rounded-lg">
            There are no events available yet.
          </div>
        </div>
        <div class="flex mt-40 justify-around">
          <div
            class="shadow-2xl border-transparent items-center align-middle w-[700px] overflow-hidden"
          >
            <img src="@/assets/blogs/about.jpg" class="w-full h-full" alt="" />
          </div>
          <div class="text-justify">
            <div class="mt-10 text-4xl text-black">
              <strong>About Maggana</strong>
            </div>
            <h3 class="mt-10">
              Maggana is an integrated solution of technology <br />
              education, placement, consulting and outsourced IT <br />
              services that caters to your organization’s need of IT <br />
              professionals. Delivered projects and deployed top <br />
              class engineers in global tech companies and <br />
              startups across the world.
            </h3>
            <h3 class="mt-10">
              Our core team consists of industry experts and <br />
              scientists with decades of experience in Data <br />
              Science, AI/ML, Systems programming, IOT, Linux, <br />
              Cloud and Bioinformatics.
            </h3>
            <div class="mt-10">
              <router-link to="/">
                <button
                  class="border-2 p-2 text-black border-black uppercase mt-5 hover:bg-[#001c54] hover:text-white"
                >
                  learn more
                </button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="border-b-2 mt-20"></div>
      </div>
    </section>
    <footer>
      <FooterLms />
    </footer>
  </div>
</template>

<script>
import FooterLms from "../components/FooterLms.vue";
import HeaderLms from "../components/HeaderLms.vue";
export default {
  name: "HomeView",
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<!-- &#8377; -->
