<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 pl-4">
            <!-- Tab buttons with images -->
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1] ': activeTab !== tab.name,
                  // ' hover:border-b-4 border-blue-600 ':activeTabe ===tab.name,
                }"
                class="px-4 py-2 items-center focus:outline-none"
              >
                <div>
                  <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                </div>
                <div>
                  <span class="text-black uppercase">{{ tab.name }}</span>
                </div>
              </div>
            </div>

            <!-- Tab content -->
            <div class="mt-4 p-4">
              <div class="bg-white shadow-2xl">
                <div v-if="activeTab === 'asn'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> add </span>
                            <span class="uppercase text-xl">new</span>
                          </button>
                        </div>
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class=" border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full  mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Status
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Weight(Unit KG)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Volume(Unit:Cubic Metres)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'pre delivery'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN QTY
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Weight(Unit KG)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Volume(Unit:Cubic Metres)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'pre load'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-slate-200 border rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN QTY
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Weight(Unit KG)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Volume(Unit:Cubic Metres)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'sorting'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Pre Sort Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Weight(Unit KG)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Total Volume(Unit:Cubic Metres)
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'sorted'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual Arrive Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Sorted Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'shortage'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual Arrive Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Arrive Shgortage Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'more qty'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <inputls
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual Arrive Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual MOre Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Update Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div v-if="activeTab === 'receiving list'">
                  <div class="bg-white h-[700px] p-4">
                    <div class="flex justify-between mt-2">
                      <div
                        class="flex justify-center border-2 border-slate-200 rounded items-center gap-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>
                      <div class="flex justify-end gap-6 mt-2">
                        <div class="border-2 rounded-2xl">
                          <input
                            type="text"
                            name=""
                            placeholder="Search Word"
                            id=""
                          />
                          <span class="material-icons"> search </span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full mt-6">
                        <thead>
                          <tr class="divide-x border h-12">
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Code
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Goods Desc
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              ASN Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual Arrive Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Actual Shortage Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Arrive More Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Arrive Demage Qty
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Supplier Name
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Creater
                            </th>
                            <th
                              class="  text-center text-sm "
                            >
                              Create Time
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex mt-10 justify-center">
                <button class="p-3 hover:bg-[#d1d1d1]">
                  <span class="uppercase font-bold text-black">no more data</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "InboundView",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "asn",
          iconUrl: require("@/assets/Inbound/in1.png"),
        },
        {
          name: "pre delivery",
          iconUrl: require("@/assets/Inbound/in2.png"),
        },
        {
          name: "pre load",
          iconUrl: require("@/assets/Inbound/in3.png"),
        },
        {
          name: "sorting",
          iconUrl: require("@/assets/Inbound/in4.png"),
        },
        {
          name: "sorted",
          iconUrl: require("@/assets/Inbound/in5.png"),
        },
        {
          name: "shortage",
          iconUrl: require("@/assets/Inbound/in6.png"),
        },
        {
          name: "more qty",
          iconUrl: require("@/assets/Inbound/in7.png"),
        },
        {
          name: "receiving list",
          iconUrl: require("@/assets/Inbound/in8.png"),
        },
      ],
      activeTab: "asn",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
