<template>
  <div>
    <HeaderLms />
    <section class="mt-20">
      <div>
        <div class="">
          <div class="text-6xl text-black font-bold">My Upcoming Events.</div>
          <div class="mt-5">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
              Viverra tristique laoreet ut elementum cras cursus.
            </p>
          </div>
        </div>
        <div class="mt-20">
          <div class="flex justify-center items-center">
            <div
              class="flex w-[1030px] mt-20 overflow-hidden shadow-xl transition-transform ease-in-out h-[450px]"
            >
              <div>
                <img src="@/assets/my/e1.png" alt="" class="w-[500px] h-full" />
              </div>
              <div class="mt-10 px-10">
                <div class="text-justify py-10">
                  <div class="font-bold text-black">
                    <h3>
                      Build a chatbot using Artificial <br />
                      Intelligence and Machine Learning
                    </h3>
                  </div>
                  <p class="hover:text-[#001C54] mt-5">
                    Human Interaction is always valuable, but what if you could
                    <br />
                    interact with machines ? With the invention of Chatbots, it
                    is
                    <br />
                    viable. Now, what if you cou ....
                  </p>
                </div>
                <div class="mt-5 border-b-2"></div>
                <div class="mt-10">
                  <div class="flex justify-between">
                    <div class="flex space-x-2 items-center">
                      <div>
                        <span class="material-icons"> calendar_today </span>
                      </div>
                      <div>02 November 2023</div>
                    </div>
                    <div>
                      <router-link to="">
                        <button class="bg-blue-500 text-white p-1">
                          Upcoming
                        </button>
                      </router-link>
                    </div>
                  </div>
                  <div class="flex items-center space-x-2">
                    <div>
                      <span class="material-icons"> schedule </span>
                    </div>
                    <div>9:00:00 pm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div
              class="flex w-[1030px] mt-20 overflow-hidden shadow-xl transition-transform ease-in-out h-[450px]"
            >
              <div>
                <img src="@/assets/my/e2.jpg" alt="" class="w-[500px] h-full" />
              </div>
              <div class="mt-10 px-10">
                <div class="text-justify py-10">
                  <div class="font-bold text-black">
                    <h3>
                      Machine Learning Basics in under 20 <br />
                      mins
                    </h3>
                  </div>
                  <p class="hover:text-[#001C54] mt-5">
                    Confusion Matrix explained under 20 mins
                  </p>
                </div>
                <div class="mt-5 border-b-2"></div>
                <div class="mt-10">
                  <div class="flex justify-between">
                    <div class="flex space-x-2">
                      <div>
                        <span class="material-icons"> calendar_today </span>
                      </div>
                      <div>02 December 2023</div>
                    </div>
                    <div>
                      <router-link to="">
                        <button class="bg-blue-500 text-white p-1">
                          Upcoming
                        </button>
                      </router-link>
                    </div>
                  </div>
                  <div class="flex space-x-2">
                    <div><span class="material-icons"> schedule </span></div>
                    <div>6:00:00 pm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div
              class="flex w-[1030px] mt-20 overflow-hidden shadow-xl transition-transform ease-in-out h-[450px]"
            >
              <div>
                <img src="@/assets/my/e3.jpg" alt="" class="w-[500px] h-full" />
              </div>
              <div class="mt-10 px-10">
                <div class="text-justify py-10">
                  <div class="font-bold text-black">
                    <h3>Introduction to SQL for Data Analytics</h3>
                  </div>
                  <p class="hover:text-[#001C54] mt-5">
                    Any decent Data analyst knows that having the data is not
                    <br />
                    enough to perform an analysis unless it's structured and
                    <br />
                    organized in a readable manner
                  </p>
                </div>
                <div class="mt-5 border-b-2"></div>
                <div class="mt-10">
                  <div class="flex justify-between">
                    <div class="flex space-x-2">
                      <div>
                        <span class="material-icons"> calendar_today </span>
                      </div>
                      <div>02 March 2024</div>
                    </div>
                    <div>
                      <router-link to="">
                        <button class="bg-blue-500 text-white p-1">
                          Upcoming
                        </button>
                      </router-link>
                    </div>
                  </div>
                  <div class="flex space-x-2">
                    <div><span class="material-icons"> schedule </span></div>
                    <div>12:00:00 pm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div
              class="flex w-[1030px] mt-20 overflow-hidden shadow-xl transition-transform ease-in-out h-[500px]"
            >
              <div>
                <img src="@/assets/my/e4.jpg" alt="" class="w-[500px] h-full" />
              </div>
              <div class="mt-10 px-10">
                <div class="text-justify py-10">
                  <div class="font-bold text-black">
                    <h3>AKCENT in the house!!!!!!!!!!!!!!!!!!!!!!</h3>
                  </div>
                  <p class="hover:text-[#001C54] mt-5">
                    Akcent is a Romanian dance pop group whose members <br />
                    sing in Romanian, English and Spanish. Their name <br />
                    originated as a wordplay on accent.
                  </p>
                </div>
                <div class="mt-5 border-b-2"></div>
                <div class="mt-10">
                  <div class="flex justify-between">
                    <div class="flex space-x-2">
                      <div>
                        <span class="material-icons"> calendar_today </span>
                      </div>
                      <div>02 Apirl 2024</div>
                    </div>
                    <div>
                      <router-link to="">
                        <button class="bg-blue-500 text-white p-1">
                          Upcoming
                        </button>
                      </router-link>
                    </div>
                  </div>
                  <div class="flex space-x-2">
                    <div><span class="material-icons"> schedule </span></div>
                    <div>10:00:00 am</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div
              class="flex w-[1030px] mt-20 overflow-hidden shadow-xl transition-transform ease-in-out h-[350px]"
            >
              <div>
                <img src="@/assets/my/e5.png" alt="" class="w-[500px] h-full" />
              </div>
              <div class="mt-10 px-5">
                <div class="text-justify py-10">
                  <div class="font-bold text-black">
                    <h3 class="text-xl">
                      Master Machine Learning Fundamentals
                    </h3>
                  </div>
                  <p class="hover:text-[#001C54] mt-5">
                    Principal Component Analysis in under 20 minutes
                  </p>
                </div>
                <div class="mt-5 border-b-2"></div>
                <div class="mt-10">
                  <div class="flex justify-between">
                    <div class="flex space-x-2">
                      <div>
                        <span class="material-icons"> calendar_today </span>
                      </div>
                      <div>25 Apirl 2024</div>
                    </div>
                    <div>
                      <router-link to="">
                        <button class="bg-blue-500 text-white p-1">
                          Upcoming
                        </button>
                      </router-link>
                    </div>
                  </div>
                  <div class="flex space-x-2">
                    <div><span class="material-icons"> schedule </span></div>
                    <div>6:00:00 pm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-b-2 mt-28"></div>
      </div>
    </section>
    <FooterLms />
  </div>
</template>

<script>
import HeaderLms from "@/components/HeaderLms.vue";
import FooterLms from "@/components/FooterLms.vue";
export default {
  components: {
    HeaderLms,
    FooterLms,
  },
};
</script>

<style></style>
