<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
      class="w-full"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 pl-4">
            <!-- Tab buttons with images -->
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1] ': activeTab !== tab.name,
                  // ' hover:border-b-4 border-blue-600 ':activeTabe ===tab.name,
                }"
                class="px-4 py-2 items-center space-x-2 focus:outline-none"
              >
                <div>
                  <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                </div>
                <div>
                  <span class="text-black text-sm uppercase">{{
                    tab.name
                  }}</span>
                </div>
              </div>
            </div>
            <!-- Tab content -->
            <div class="mt-4 p-4">
              <div class="bg-white shadow-2xl">
                <div v-if="activeTab === 'dn'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-4">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> add </span>
                          <span class="uppercase text-xl">new</span>
                        </button>
                      </div>
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <img
                            src="@/assets/Outbound/order.jpg"
                            alt=""
                            class="h-6"
                          />
                          <span class="uppercase text-xl">order release</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Status
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Weight(Unit KG)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Volume(Unit:Cubic Metres)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'pre order'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Weight(Unit KG)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Volume(Unit:Cubic Metres)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'new order'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Weight(Unit KG)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Total Volume(Unit:Cubic Metres)
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'back order'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Back Order
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'pre pick'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Pick Stock
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Picked Stock
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'picked'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Picked Stock
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'picking list'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6 h-[330px]">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Bin Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Pick Stock
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Picked Stock
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'shipping list'">
                <div class="bg-white h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full border-2 mt-6">
                      <thead>
                        <tr class="divide-x">
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Shipping QTY
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="border-2 border-slate-200 text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="activeTab === 'proof of delivery'">
                <div class="bg-white overflow-hidden h-[700px] p-4">
                  <div class="flex justify-between mt-2">
                    <div
                      class="flex justify-around border-2 border-slate-200 rounded items-center gap-x-6"
                    >
                      <div class="text-center">
                        <button class="flex gap-x-2">
                          <span class="material-icons"> refresh </span>
                          <span class="uppercase text-xl">refresh</span>
                        </button>
                      </div>
                    </div>
                    <div class="flex justify-end gap-6">
                      <div class="border-2 border-slate-200 rounded-2xl">
                        <input
                          type="text"
                          name=""
                          placeholder="Search Word"
                          id=""
                        />
                        <span class="material-icons"> search </span>
                      </div>
                    </div>
                  </div>
                  <div class="flex overflow-x-auto">
                    <div class="w-full overflow-x-auto">
                      <table class="w-full mt-6">
                      <thead>
                        <tr class="divide-x border">
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            DN Code
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Goods Code
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Goods Desc
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Order QTY
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Delivery Actual QTY
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Delivery Shortage QTY
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Delivery More QTY
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Delivery Damage QTY
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Customer Name
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Creater
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Create Time
                          </th>
                          <th
                            class="whitespace-nowrap text-center text-sm "
                          >
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="flex h-10 mt-10 justify-center">
                  <button class="p-3 hover:bg-[#d1d1d1]">
                    <span class="uppercase text-black font-bold">no more data</span>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "OutboundView",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "dn",
          iconUrl: require("@/assets/Outbound/out1.jpg"),
        },
        {
          name: "pre order",
          iconUrl: require("@/assets/Outbound/out2.jpg"),
        },
        {
          name: "new order",
          iconUrl: require("@/assets/Outbound/out3.jpg"),
        },
        {
          name: "back order",
          iconUrl: require("@/assets/Outbound/out4.jpg"),
        },
        {
          name: "pre pick",
          iconUrl: require("@/assets/Outbound/out5.jpg"),
        },
        {
          name: "picked",
          iconUrl: require("@/assets/Outbound/out6.jpg"),
        },
        {
          name: "picking list",
          iconUrl: require("@/assets/Outbound/out7.jpg"),
        },
        {
          name: "shipping list",
          iconUrl: require("@/assets/Outbound/out8.jpg"),
        },
        {
          name: "proof of delivery",
          iconUrl: require("@/assets/Outbound/out9.jpg"),
        },
      ],
      activeTab: "dn",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
