<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 pl-4">
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1]': activeTab !== tab.name,
                }"
                class="px-4 py-2 items-center space-x-2 focus:outline-none"
              >
                <div>
                  <i class="material-icons cursor-pointer">warehouse</i>
                </div>
                <div>
                  <span class="text-black mb-0 uppercase">{{ tab.name }}</span>
                </div>
              </div>
            </div>

            <div class="mt-4 p-4">
              <div class="bg-white shadow-2xl">
                <div v-if="activeTab === 'warehouse interconnection'">
                  <div class="h-[400px] p-4">
                    <div class="flex justify-between items-center h-10">
                      <div
                        class="flex border-2 border-slate-200 text-center gap-x-6"
                      >
                        <div class="text-center">
                          <button class="flex gap-x-2">
                            <span class="material-icons"> refresh </span>
                            <span class="uppercase text-xl">refresh</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex items-center">
                        <div
                          class="border border-[#d1d1d1] rounded-2xl p-2 hover:border-black"
                        >
                          <input type="text" placeholder="City Search" /><span
                            class="material-icons"
                            >search</span
                          >
                        </div>
                      </div>
                    </div>
                    <div>
                      <table class="w-full h-[300px] mt-6">
                        <thead>
                          <tr class="divide-x border">
                            <th class="text-center px-3 py-1 text-sm">
                              Warehouse Name
                            </th>

                            <th class="text-center px-3 py-1 text-sm">
                              Warehouse City
                            </th>
                            <th class="text-center px-3 py-1 text-sm">
                              Warehouse Address
                            </th>
                            <th class="text-center px-3 py-1 text-sm">
                              Warehouse Contact
                            </th>
                            <th class="text-center px-3 py-1 text-sm">
                              Warehouse Manager
                            </th>
                            <th class="text-center px-3 py-1 text-sm">
                              Usable Area
                            </th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex h-10 mt-10 justify-center">
                <button class="p-3 hover:bg-[#d1d1d1]">
                  <span class="uppercase font-bold text-black"
                    >no more data</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "WareInter",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "warehouse interconnection",
        },
      ],
      activeTab: "warehouse interconnection",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
